.container{
    display: grid;
    grid-template-rows: repeat(6, 300px,200px);
    grid-template-columns: repeat(6, 200px,200px);

} 
.item-1{
    grid-row: 1 /2;
    grid-column: 1 / 3
}

